<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 p-10">
        <h1 class="text-5xl text-white mb-5 tracking-tightest">Login to your Account</h1>
        <form class="text-white flex gap-3 " action="/login" method="post">
            <input type="text" placeholder="email" class="text-xl bg-zinc-700 outline-none rounded-md p-3" name="email" >
            <input type="password" placeholder="password" class="text-xl bg-zinc-700 outline-none rounded-md p-3" name="password">
            
            <button class="text-xl bg-blue-700 outline-none rounded-md p-3 cursor-pointer">Login</button>
        </form>
        <div class="my-4">
            <button class="text-xl bg-blue-700 outline-none rounded-md p-2 cursor-pointer">
                <a href="/" class="text-white ">Create New User</a>
            </button>
        </div>
    </div>
    
</body>
</html>